<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

	<title>Vijayakumar Portfolio</title>
</head>
<body>
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-info">
			<div class="container-fluid">
				<a class="navbar-brand text-capitalize" href="{{ url_for('home') }}">VIJAYAKUMAR</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="navbar-brand text-capitalize" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-capitalize active" href="{{ url_for('resume') }}">Resume</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-capitalize active" href="{{ url_for('about') }}">About</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Projects
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="{{ url_for('nlp_project') }}">NLP project</a></li>
								<li><a class="dropdown-item" href="{{ url_for('movie_recommendation') }}">Movie Recommendation System</a></li>
								<li><a class="dropdown-item" href="{{ url_for('fraud_detection') }}">Fraud Detection</a></li>
								<li><a class="dropdown-item" href="{{ url_for('customer_churn_prediction') }}">Customer Churn Prediction</a></li>
								<li><a class="dropdown-item" href="{{ url_for('nlp_for_customer_support') }}">Natural Language Processing for Customer Support</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link text-capitalize active" href="{{ url_for('contact') }}">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- navbar end-->
    <section class="main_heading my-5 mt-5">
      <div class="text-center">
          <h1 class="display-4">Contact</h1>
          <hr class="w-25 mx-auto" />
      </div>
  
      <div class="container">
          <div class="row">
              <div class="col-xxl-8 col-md-8 col-10 mx-auto">
                  <div class="contact-box" style="background-color: rgb(227, 227, 227); padding: 20px;">
                      <ul class="list-unstyled">
                          <li>
                              <strong>Email:</strong> <a href="mailto:vijay.sae20@gmail.com">vijay.sae20@gmail.com</a>
                          </li>
                          <br>
                          <li>
                              <strong>Phone No:</strong> <a href="tel:+919488955846">+91 9488955846</a>
                          </li>
                      </ul>
                      <!-- Add space below phone number using margin -->
                      <div style="margin-bottom: 20px;"></div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  


  









   <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>












</body>
</html>