<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

	<title>Resume</title>
</head>
<body>
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-info">
			<div class="container-fluid">
				<a class="navbar-brand text-capitalize" href="{{ url_for('home') }}">VIJAYAKUMAR</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link text-capitalize active" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-capitalize active" href="{{ url_for('resume') }}">Resume</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-capitalize active" href="{{ url_for('about') }}">About</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Projects
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="{{ url_for('nlp_project') }}">NLP project</a></li>
								<li><a class="dropdown-item" href="{{ url_for('movie_recommendation') }}">Movie Recommendation System</a></li>
								<li><a class="dropdown-item" href="{{ url_for('fraud_detection') }}">Fraud Detection</a></li>
								<li><a class="dropdown-item" href="{{ url_for('customer_churn_prediction') }}">Customer Churn Prediction</a></li>
								<li><a class="dropdown-item" href="{{ url_for('nlp_for_customer_support') }}">Natural Language Processing for Customer Support</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link text-capitalize active" href="{{ url_for('contact') }}">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }
        header {
            background-color: #b3b3b3;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
        h1 {
            font-size: 36px;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
        .contact-info {
            margin-top: 20px;
        }
        .profile-links a {
            color: #007BFF;
            text-decoration: none;
            margin-right: 10px;
        }
        .profile-links a:hover {
            text-decoration: underline;
        }
        .project {
            margin-top: 20px;
        }
        .education {
            margin-top: 20px;
        }
        .technical-skills {
            margin-top: 20px;
        }
        .cloud-skills {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Vijayakumar S</h1>
        <p>Data Scientist</p>
    </header>
    <div class="container">
        <div class="contact-info">
            <p>Chennai,Tamilnadu, India</p>
            <p>Email: vijay.sae20@gmail.com</p>
            <p>Phone: +91 9488955846</p>
        </div>
        <div class="profile-links">
            <p>Profiles:</p>
            <a href="https://www.linkedin.com/in/vijaycse">LinkedIn</a>
            <a href="https://github.com/vijaysae-Ai">GitHub</a>
        </div>
        <div class="career-objective">
            <h2>Career Objective</h2>
            <p>Passionate Data Scientist with a strong educational foundation and expertise in data analysis, statistical modeling, and machine learning. Completed a comprehensive Data Scientist Master's Program with skills in data collection, preprocessing, exploratory data analysis, and deep learning. Eager to contribute in a data-focused role and drive business success through effective problem-solving. Proficient in Python, SQL, and Tableau for impactful insights. Committed to advancing data-driven solutions for optimal outcomes.</p>
        </div>
        <div class="certification">
            <h2>Certification</h2>
            <p>
                1. Masters Program - Data Scientist: Simplilearn Certified in collaboration with IBM – 2023
                <br> - Data Science with Python
                <br> - Advance Machine Learning and Deep Learning
                <br> - Tableau 10
                <br> - Big Data Hadoop & Spark Developer
                <br> - SQL Training
                <br> - Data Science Capstone
                <br> - In-depth training in data collection, preprocessing, EDA, statistical modeling, machine learning, and model deployment. Proficient in Python, SQL, advanced analytics, and data visualization techniques.
                <br> <a href="https://success.simplilearn.com/73412774"><b>Certification</b></a>
            </p>
        </div>
        <div class="projects">
            <h2>Projects Experience</h2>
            <p>
                <b>Natural Language Processing for Customer Support – Aug 2023</b>
                <br> - Developed NLP techniques and created a model to automate customer support queries.
                <br> - Utilized text classification algorithms for message categorization, leading to improved response times and customer satisfaction.
                <br>
                <b>Customer Churn Prediction – July 2023</b>
                <br> - Created a predictive model for customer churn using Python and scikit-learn.
                <br> - Conducted data preprocessing, EDA, and feature engineering to achieve 80% accuracy.
                <br> - Presented insights on factors influencing churn.
                <br>
                <b>Movie Recommendation System – June 2023</b>
                <br> - Designed and implemented a collaborative filtering-based recommendation system using Python and pandas.
                <br> - Developed a model that provided personalized movie suggestions based on user preferences.
                <br>
                <b>Sentiment Analysis on Twitter Data – May 2023</b>
                <br> - Conducted sentiment analysis using NLP techniques on Twitter data.
                <br> - Cleaned and processed tweets, built a sentiment analysis model to classify sentiments, and presented results through visualizations.
                <br>
                <b>Fraud Detection through Machine Learning - April 2023</b>
                <br> - Built fraud detection model using Python, scikit-learn, and ensemble techniques. Achieved 95% precision in uncovering deceitful transactions through orchestrated data preprocessing and feature engineering.
                <br> - Presented results showcasing capacity to fortify financial security.
            </p>
        </div>
        <div class="education">
            <h2>Education</h2>
            <p>
                B.E: Computer Science And Engineering 2020
                <br> Sasurie Academy of Engineering, Coimbatore - CGPA : 7.02
            </p>
        </div>
        <div class="technical-skills">
            <h2>Technical Skills</h2>
            <p>
                - Data Collection and Preprocessing
                <br> - Exploratory Data Analysis (EDA)
                <br> - Machine Learning Algorithms: XGBoost, Gradient Boosting, Random Forest, Neural Networks, Deep Learning, Regression, Classification, Clustering Algorithms (K-Means, Hierarchical Clustering, DBSCAN)
                <br> - Principal Component Analysis (PCA)
                <br> - Programming: Python
                <br> - Python (NumPy, Pandas, Scikit-learn, TensorFlow, Keras, PyTorch)
                <br> - PDF Text Extraction: PyPDF
                <br> - Feature Engineering
                <br> - Data Visualization (Business Objects, ggplot, Seaborn, Matplotlib)
                <br> - Databases: SQL
                <br> - Recurrent Neural Network – LSTM
                <br> - Web Scraping – Beautiful Soup
                <br> - Natural Language Processing Algorithms: NLTK, spaCy, BERT
                <br> - API Integration: REST API
                <br> - AWS Services: AWS Glue (Data Integration)
                <br> - Version Control (Git)
            </p>
        </div>
        <div class="cloud-skills">
            <h2>Cloud Skills</h2>
            <p>
                Proficient in Amazon Web Services (AWS) cloud platform, including the following services:
                <br> - Amazon EC2: Deployed and managed virtual machines for scalable computing resources.
                <br> - Amazon S3: Stored and retrieved data securely, ensuring high availability and durability.
                <br> - Amazon SageMaker: Utilized for building, training, and deploying machine learning models.
            </p>
        </div>
        <div class="web-development">
            <h2>Web Development</h2>
            <p>
                Proficient in web development technologies and frameworks, including:
                <br> - Flask: Developed web applications using the Flask Micro framework for Python.
                <br> - HTML: Created structured and dynamic web content using HTML5.
                <br> - CSS: Styled web pages and enhanced user experience with CSS3 styling techniques.
            </p>
        </div>
        <div class="additional-info">
            <h2>Additional Information</h2>
            <p>
                - Soft Skills: Analytical Thinking, Problem-Solving, Fast Learner, Innovation.
                <br> - Interests: Interested in Artificial Intelligence and contributing to innovative solutions.
                <br> - Languages: English, Tamil & Malayalam.
            </p>
        </div>
    </div>
</body>
</html>
